.column {
    background-color: #019fe1;
    height: 100px;
    float: left;
    width: 100%;
    margin: 10px 0px;
}

@media (min-width: 992px) {
    .column {
        margin: 10px
        width: 30%;
    }
}
}
